@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
  --safe-left: env(safe-area-inset-left);
  --safe-right: env(safe-area-inset-right);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--main-orange);
  --color-yellow: var(--main-yellow);
  --color-black: var(--main-black);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans-thai), "Noto Sans Thai", sans-serif;
}

.light {
  --background: #ffffff;
  --foreground: #424242;
  --main-orange: #ff6f00;
  --main-black: #424242;
  --main-yellow: oklch(85.2% 0.199 91.936);
}

.dark {
  --background: #171717;
  --foreground: #ededed;
  --main-orange: #ff6f00;
  --main-black: #fff;
  --main-yellow: oklch(85.2% 0.199 91.936);
}
