@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
  --safe-left: env(safe-area-inset-left);
  --safe-right: env(safe-area-inset-right);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--main-orange);
  --color-yellow: var(--main-yellow);
  --color-black: var(--main-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --main-orange: #ff6f00;
    --main-black: #424242;
    --main-yellow: oklch(85.2% 0.199 91.936);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --main-orange: #ff6f00;
    --main-black: #424242;
    --main-yellow: oklch(85.2% 0.199 91.936);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", "Noto Sans Thai", sans-serif;
}

.light {
  --color-bg: #ffffff; /* light background */
  --color-text: #424242; /* light text */
}

.dark {
  --color-bg: #111827; /* dark background */
  --color-text: #ffffff; /* dark text */
}
